body {
  background-image: url(img/BackgroundDesktop.jpg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

/*HEADER*/

.dropdown{
   position: fixed;
   display: inline-block;
   background: #650d1b;
   width: 100%;
}

.dropdown-content{
   display: none;
   position: absolute;
   background-color: black;
   opacity: 0.9;
   text-align: center;
   width: 100%;
   letter-spacing: 2px;
   font-weight: bold;
   z-index: 1;
}

.dropdown-content a{
   color: white;
   padding: 20px;
   display: block;
   text-transform: uppercase;
}

.dropdown-content a:hover{
  color: #650d1b;
}

.dropdown:hover .dropdown-content {
   display: block;
}

.dropdown p{
  font-size: 25px;
  text-align: center;
  color: white;
}
